body {
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 40px;
    max-width: 100%;
}

/* -------------------------------
CSS Styles for the Header Section 
-----------------------------------*/

.top-container {
    display: flex;
    background-color: black;
    /* margin-left: 9%; */
    padding-left: 10%;
    padding-top: 2%;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 40px;
}

.header-half {
    width: 130%;
}

.header-text h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.header-text p {
    font-size: 15px;
    font-weight: 700;
    color: white;
    padding-bottom: 20px;
}

.header-text a {
    text-decoration: none;
    width: 50px;
    height: 40px;
    background-color: red;
    padding: 5px 20px;
    color: white;
    font-weight: 700;
    font-size: larger;
    border-radius: 5px;
}

.header-img {
    width: 100%;
}

/* -------------------------------------
    CSS Styles for the Second Section 
   ------------------------------------*/

.aside {
    width: 250px;
    height: 150px;
    background-color: black;
    border-radius: 5px;
    padding-top: 40px;
    /* margin-left: 20px; */
    /* padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 10px; */

}

.upcoming-matches,
.ucl {
    text-align: center;
    background-color: white;
    color: black;
    width: 180px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 32px;
}

.el-classico {
    text-align: center;
    background-color: rgb(213, 49, 49);
    color: black;
    width: 180px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 32px;
}

/* --------------------
    Marca-News Styles 
-----------------------*/

.news .carvahal img {
    width: 312px;
    height: 175px;
}

.news-type {
    border: 1px solid grey;
    font-size: small;
    width: 120px;
    padding-left: 10px;
    border-radius: 5px;
}

.news-info {
    display: grid;
    grid-template-columns: repeat(2, 90px);
}

.fa-clock.clock {
    width: 20px;
    height: 20px;
    opacity: 0.25;
}

.fa-comment-dots {
    width: 20px;
    height: 20px;
    opacity: 0.25;
}